@charset "UTF-8";
/**
 *  styles.scss
 *  @desc : Global file that include all other. Ready to build
 */
/**
 *  _mixins.scss
 *  @desc : All custom mixins to override bourbon or other.
 *
 */
/**
 *  _variables.scss
 *  @desc : All variable of the application;
 *
 */
/** COLOR **/
/** FONT **/
/**
 *  _reset.scss
 *  @desc : Reset defautl browser styles
 *
 */
*, *:before, *:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

html {
  height: 100%;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  line-height: 1;
  font-family: "HelveticaNeue", "Arial", "sans-serif";
  background: #fff;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

sup {
  vertical-align: super;
  font-size: 0.6em;
  line-height: 1;
}

/**
 *  _fonts.scss
 *  @desc : All fonts déclarations  
 *
 */
/** Helvetica **/
@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/HelveticaNeue/HelveticaNeue-UltraLight.woff") format("woff");
}
@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Light.woff") format("woff");
}
@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Regular.woff") format("woff");
}
@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Medium.woff") format("woff");
}
@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Bold.woff") format("woff");
}
/**
 *  _general.scss
 *  @desc : All general styles of the application. No class declaration here.
 *
 */
/**
 *	FORM
 */
form label {
  color: #767676;
  font-size: 1.6rem;
  display: block;
  margin-bottom: 15px;
}
form input[type="text"], form input[type="email"], form input[type="password"] {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  margin-bottom: 15px;
  font-size: 1.6rem;
  border-radius: 4px;
  border: 1px solid #DADADA;
  outline: none;
}
form input[type="checkbox"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #DADADA;
  -webkit-appearance: none;
  outline: none;
}
form input[type="checkbox"]:checked {
  background: #3C80F4;
}
form button[type="submit"] {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 25px;
  font-size: 1.6rem;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background: #3C80F4;
}

/**
 *	UI
 */
.btn-cta {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 25px;
  font-size: 1.6rem;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background: #3C80F4;
}
.btn-simple {
  display: inline-block;
  font-size: 1.6rem;
  color: #3C80F4;
}

/**
 *  _layout.scss
 *  @desc : Layout of recurrent element of the page. No style theme here
 *
 */
/**
 *	Header
 */
.header {
  padding: 0 100px;
  height: 80px;
}
.header--logo {
  display: inline-block;
  vertical-align: middle;
}
.header--nav {
  float: right;
}

/**
 *	Footer
 */
.footer {
  height: 50px;
  padding: 0 100px;
}
.footer nav li {
  float: left;
  margin-right: 30px;
}

/**
 *	Main content
 */
#main {
  min-height: calc(100vh - 50px);
}

/**
 *	Home
 */
.page_home {
  width: 1042px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page_home--intro {
  width: 560px;
  margin-right: 182px;
  float: left;
}
.page_home--intro h1 {
  margin-bottom: 38px;
}
.page_home--from {
  float: left;
  width: 300px;
}
.page_home--from div {
  overflow: hidden;
}
.page_home--from input[type="checkbox"] {
  float: left;
  margin-top: 2px;
  margin-right: 10px;
}
.page_home--from p {
  width: 276px;
  float: right;
}
.page_home--from button {
  margin-top: 18px;
}

/**
 *	Popup
 */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.popup--wrap {
  width: 360px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -135px;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.popup--header {
  height: 60px;
  padding: 0 30px;
}
.popup--header h2 {
  float: left;
}
.popup--header a {
  float: right;
  display: block;
  width: 15px;
  height: 15px;
  margin-top: 22px;
}
.popup--container {
  padding: 20px 30px 25px;
  overflow: hidden;
}

/**
 *  _themes.scss
 *  @desc : Theme of recurrent element of the page. No style of layout/display here
 *
 */
/**
 *	Header
 */
.header {
  line-height: 80px;
  border-bottom: 1px solid #DCDFE5;
  overflow: hidden;
}
.header--logo {
  font-size: 3rem;
  font-weight: 700;
  color: #3C80F4;
}
.header--nav a {
  color: #3C80F4;
  font-size: 1.6rem;
  font-weight: 500;
}

/**
 *	Footer
 */
.footer {
  line-height: 50px;
  border-top: 1px solid #DCDFE5;
}
.footer nav li a {
  color: #BBBBBB;
  font-size: 1.4rem;
}

/**
 *	Page
 */
/**
 *	Home
 */
.page_home--intro h1 {
  color: #363636;
  line-height: 1.1;
  font-size: 3.6rem;
  font-weight: 500;
}
.page_home--intro p {
  color: #BBBBBB;
  line-height: 1.65;
  font-size: 1.8rem;
}
.page_home--from p {
  color: #767676;
  float: left;
  font-size: 1.3rem;
  line-height: 1.5;
}
.page_home--from p a {
  color: #3C80F4;
}

/**
 *	Popup
 */
.popup {
  background: rgba(78, 81, 85, 0.6);
}
.popup--wrap {
  background: #f9f9f9;
  border-radius: 4px;
}
.popup--header {
  line-height: 60px;
  background: #fff;
}
.popup--header h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #363636;
}
.popup--header a {
  text-indent: -9999px;
  background: url("/app/img/icon/icon-cross.svg") center no-repeat;
  background-size: cover;
}

/**
 *  _states.scss
 *  @desc : States recurent element. Here goes all hover, active, focus effect.
 *
 */
/**
 *  _animations.scss
 *  @desc : Animation on element, here goes all keyframe animations
 *
 */
/**
 *  bucket.scss
 *  @desc : All style about bucket
 *
 */
.page_bucket {
  background: #EBEEF3;
  min-height: calc(100vh - 80px - 50px);
}
.page_bucket--header {
  overflow: hidden;
  width: 100%;
  height: 80px;
  padding: 0 100px;
  background: #fff;
  border-bottom: 3px solid #DCDFE5;
}
.page_bucket--header--intro {
  float: left;
}
.page_bucket--header h1 {
  margin: 17px 0 6px;
  font-size: 2.4rem;
  font-weight: 300;
  color: #363636;
}
.page_bucket--header--notification {
  color: #BBBBBB;
  font-size: 1.4rem;
  font-weight: 500;
}
.page_bucket--header--notification span {
  margin-right: 26px;
}
.page_bucket--header nav {
  float: right;
}
.page_bucket--header nav a {
  float: left;
  margin: 17px 0 0 50px;
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  color: #363636;
}
.page_bucket--header nav a.btn-download i {
  display: block;
  width: 22px;
  height: 23px;
  margin: 0 auto 3px;
  background: url("/app/img/icon/icon-download.svg") center no-repeat;
  background-size: cover;
}
.page_bucket--header nav a.btn-print i {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto 7px;
  background: url("/app/img/icon/icon-print.svg") center no-repeat;
  background-size: cover;
}
.page_bucket--header nav a.btn-add-people i {
  display: block;
  width: 23px;
  height: 19px;
  margin: 0 auto 7px;
  background: url("/app/img/icon/icon-people.svg") center no-repeat;
  background-size: cover;
}
.page_bucket--main .no-result {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.page_bucket--main .no-result p {
  font-size: 3rem;
  font-weight: 300;
  color: #BBBBBB;
}
.page_bucket--main .no-result a {
  width: 338px;
  height: 50px;
  margin: 37px auto 0;
  line-height: 50px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.page_bucket--main .no-result a i {
  display: inline-block;
  width: 13px;
  height: 13px;
  vertical-align: middle;
  margin-right: 10px;
  background: url("/app/img/icon/icon-plus-white.svg") center no-repeat;
  background-size: cover;
}
.page_bucket--peoples {
  height: 80px;
  width: 100%;
  padding: 0 100px 0 387px;
  background: #fff;
  border-bottom: 1px solid #F7F7F7;
}
.page_bucket--peoples > ul {
  width: 100%;
  height: 100%;
  border-left: 1px solid #F7F7F7;
}
.page_bucket--people {
  display: block;
  position: relative;
  width: 33%;
  height: 100%;
  border-right: 1px solid #F7F7F7;
  float: left;
  padding: 19px;
}
.page_bucket--people h4 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #767676;
}
.page_bucket--people p {
  font-size: 1.6rem;
  color: #767676;
  margin-top: 7px;
}
.page_bucket--people--option {
  position: absolute;
  right: 21px;
  top: 20px;
  cursor: pointer;
}
.page_bucket--people--option > div {
  position: relative;
}
.page_bucket--people--option > div > i {
  display: block;
  width: 13px;
  height: 17px;
  background: url("/app/img/icon/icon-arrow-bottom.svg") center no-repeat;
  background-size: 100% auto;
}
.page_bucket--people--option > div:hover ul {
  display: block;
}
.page_bucket--people--option ul {
  display: none;
  position: absolute;
  width: 235px;
  top: 16px;
  right: -26px;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #DADADA;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
}
.page_bucket--people--option ul li {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #DADADA;
  font-size: 1.4rem;
}
.page_bucket--people--option ul li a {
  color: #4B4B4B;
  padding: 0 15px;
}
.page_bucket--people--option ul li a.btn-download i {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 13px;
  background: url("/app/img/icon/icon-download.svg") center no-repeat;
  background-size: cover;
}
.page_bucket--people--option ul li a.btn-archive i {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 15px;
  margin-right: 13px;
  background: url("/app/img/icon/icon-archive.svg") center no-repeat;
  background-size: cover;
}
.page_bucket--docs {
  background: #fff;
}
.page_bucket--docs ul {
  overflow: hidden;
}
.page_bucket--doc {
  width: 100%;
  padding: 0 100px;
  border: 1px solid #F7F7F7;
  overflow: hidden;
}
.page_bucket--doc--title {
  position: relative;
  width: 287px;
  min-height: 228px;
  float: left;
  padding-top: 23px;
  border-right: 1px solid #F7F7F7;
}
.page_bucket--doc--title h3 {
  font-size: 1.8rem;
  color: #767676;
  font-weight: 700;
}
.page_bucket--doc ul {
  float: left;
}
.page_bucket--doc--option {
  position: absolute;
  right: 27px;
  top: 25px;
  cursor: pointer;
}
.page_bucket--doc--option > div {
  position: relative;
}
.page_bucket--doc--option > div > i {
  display: block;
  width: 13px;
  height: 17px;
  background: url("/app/img/icon/icon-arrow-bottom.svg") center no-repeat;
  background-size: 100% auto;
}
.page_bucket--doc--option > div:hover ul {
  display: block;
}
.page_bucket--doc--option ul {
  display: none;
  position: absolute;
  width: 235px;
  top: 16px;
  right: -26px;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #DADADA;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
}
.page_bucket--doc--option ul li {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #DADADA;
  font-size: 1.4rem;
}
.page_bucket--doc--option ul li a {
  color: #4B4B4B;
  padding: 0 15px;
}
.page_bucket--doc--option ul li a.btn-download i {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 13px;
  background: url("/app/img/icon/icon-download.svg") center no-repeat;
  background-size: cover;
}
.page_bucket--doc--option ul li a.btn-archive i {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 15px;
  margin-right: 13px;
  background: url("/app/img/icon/icon-archive.svg") center no-repeat;
  background-size: cover;
}
.page_bucket--doc--peoples {
  width: calc(100% - 287px);
}
.page_bucket--doc--peoples li {
  float: left;
  width: 33%;
  min-height: 228px;
  border-right: 1px solid #F7F7F7;
}
.page_bucket--docs_new {
  width: 100%;
  height: 70px;
  padding: 0 100px;
  line-height: 70px;
  background: #fff;
  border-bottom: 1px solid #F7F7F7;
}
.page_bucket--docs_new form input {
  display: inline-block;
  padding-left: 25px;
  background: url("/app/img/icon/icon-plus.svg") left center no-repeat;
  background-size: 15px;
  border: none;
}
.page_bucket--docs_new form input[type="submit"] {
  display: none;
}

/**
 *	Dropzone
 */
.dropzone {
  width: 94%;
  height: 94%;
  margin: 4px auto;
  border: 5px dashed #DADADA;
  border-radius: 10px;
  text-align: center;
}
.dropzone p {
  font-size: 1.2rem;
  color: #BBBBBB;
}
.dropzone p span {
  font-size: 1.6rem;
  font-weight: 500;
  color: #BBBBBB;
  margin-bottom: 4;
}
.dropzone input {
  display: none;
}

/**
 *	Popup creation
 */
.popup_bucket_creation .popup--wrap, .popup_bucket_creation_people .popup--wrap {
  width: 510px;
  margin-left: -255px;
}
.popup_bucket_creation .popup--wrap button, .popup_bucket_creation_people .popup--wrap button {
  float: right;
  width: auto;
}
.popup_bucket_creation .popup--wrap .btn-simple, .popup_bucket_creation_people .popup--wrap .btn-simple {
  margin-top: 20px;
}

/**
 *  board.scss
 *  @desc : All style about board
 *
 */
.page_board {
  background: #EBEEF3;
  min-height: calc(100vh - 80px - 50px);
}
.page_board--header {
  overflow: hidden;
  width: 100%;
  height: 80px;
  padding: 0 100px;
  background: #fff;
  border-bottom: 3px solid #DCDFE5;
}
.page_board--header--intro {
  float: left;
}
.page_board--header h1 {
  margin: 17px 0 6px;
  font-size: 2.4rem;
  font-weight: 300;
  color: #363636;
}
.page_board--header--notification {
  color: #BBBBBB;
  font-size: 1.4rem;
  font-weight: 500;
}
.page_board--header--notification span {
  margin-right: 26px;
}
.page_board--header nav {
  float: right;
}
.page_board--header nav a {
  float: left;
  margin: 17px 0 0 50px;
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  color: #363636;
}
.page_board--header nav a i {
  display: block;
  width: 19px;
  height: 19px;
  margin: 0 auto 7px;
  background: url("/app/img/icon/icon-plus.svg") center no-repeat;
  background-size: cover;
}
.page_board--main .no-result {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.page_board--main .no-result p {
  font-size: 3rem;
  font-weight: 300;
  color: #BBBBBB;
}
.page_board--main .no-result a {
  width: 338px;
  height: 50px;
  margin: 37px auto 0;
  line-height: 50px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.page_board--main .no-result a i {
  display: inline-block;
  width: 13px;
  height: 13px;
  vertical-align: middle;
  margin-right: 10px;
  background: url("/app/img/icon/icon-plus-white.svg") center no-repeat;
  background-size: cover;
}
.page_board--list {
  margin: 0 auto;
  width: 1240px;
  padding-top: 40px;
}

.card_bucket {
  position: relative;
  z-index: 1;
  width: 388px;
  height: 248px;
  float: left;
  margin-right: 38px;
  /* STATES */
}
.card_bucket > div {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border-bottom: 1px solid #EEE;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  background: #fff;
}
.card_bucket:nth-child(3n) {
  margin-right: 0;
}
.card_bucket--notification {
  height: 40px;
  width: 100%;
  padding-left: 20px;
  line-height: 40px;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 4px 4px 0 0;
}
.card_bucket--option {
  position: absolute;
  right: 17px;
  top: 12px;
  cursor: pointer;
}
.card_bucket--option > div {
  position: relative;
}
.card_bucket--option > div > i {
  display: block;
  width: 13px;
  height: 17px;
  background: url("/app/img/icon/icon-arrow-bottom.svg") center no-repeat;
  background-size: 100% auto;
}
.card_bucket--option > div:hover ul {
  display: block;
}
.card_bucket--option ul {
  display: none;
  position: absolute;
  width: 235px;
  top: 16px;
  right: -26px;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #DADADA;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
}
.card_bucket--option ul li {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #DADADA;
  font-size: 1.4rem;
}
.card_bucket--option ul li a {
  color: #4B4B4B;
  padding: 0 15px;
}
.card_bucket--option ul li a.btn-download i {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 13px;
  background: url("/app/img/icon/icon-download.svg") center no-repeat;
  background-size: cover;
}
.card_bucket--option ul li a.btn-archive i {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 15px;
  margin-right: 13px;
  background: url("/app/img/icon/icon-archive.svg") center no-repeat;
  background-size: cover;
}
.card_bucket--title {
  padding: 17px 20px 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.24;
}
.card_bucket--title a {
  color: #363636;
}
.card_bucket--info {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
}
.card_bucket--info span {
  display: block;
  margin-bottom: 6px;
  color: #BBBBBB;
  font-size: 1.2rem;
  font-weight: 500;
}
.card_bucket--info span.bucket_completion i {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
  background: url("/app/img/icon/icon-card-completion.svg") center left no-repeat;
  background-size: cover;
}
.card_bucket--info span.bucket_user i {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
  background: url("/app/img/icon/icon-card-people.svg") center no-repeat;
  background-size: cover;
}
.card_bucket.is-complete .card_bucket--option > div > i {
  background: url("/app/img/icon/icon-arrow-bottom-white.svg") center no-repeat;
  background-size: 100% auto;
}
.card_bucket.is-complete .card_bucket--notification {
  background: #3C80F4;
}
.card_bucket.is-update .card_bucket--option > div > i {
  background: url("/app/img/icon/icon-arrow-bottom-white.svg") center no-repeat;
  background-size: 100% auto;
}
.card_bucket.is-update .card_bucket--notification {
  background: #FF6C55;
}
.card_bucket.is-contains::before, .card_bucket.is-contains::after {
  content: '';
  width: 380px;
  height: 100%;
  z-index: -1;
  position: absolute;
  bottom: -4px;
  left: 4px;
  border-radius: 4px;
  border-bottom: 1px solid #EEE;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  background: #fff;
}
.card_bucket.is-contains::after {
  content: '';
  width: 372px;
  z-index: -2;
  bottom: -8px;
  left: 8px;
}

/**
 *	Popup creation
 */
.popup_bucket_creation .popup--wrap, .popup_bucket_creation_people .popup--wrap {
  width: 510px;
  margin-left: -255px;
}
.popup_bucket_creation .popup--wrap button, .popup_bucket_creation_people .popup--wrap button {
  float: right;
  width: auto;
}
.popup_bucket_creation .popup--wrap .btn-simple, .popup_bucket_creation_people .popup--wrap .btn-simple {
  margin-top: 20px;
}

/**
 *	TAG
 */
.tagsinput {
  display: block;
  width: 100%;
  padding: 0 4px;
  margin-bottom: 15px;
  font-size: 1.6rem;
  border-radius: 4px;
  border: 1px solid #DADADA;
  outline: none;
  overflow: hidden;
  background: #fff;
}
.tagsinput input {
  display: inline-block;
  height: 38px;
  width: 190px !important;
  line-height: 38px;
  padding: 0 9px;
  font-size: 1.6rem;
  border: none;
  outline: none;
  background: none;
}
.tagsinput .tag {
  display: block;
  float: left;
  width: auto;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  margin: 4px 5px 0 0;
  padding: 0 10px;
  background: #CDDFFF;
  border-radius: 2px;
  font-size: 1.6rem;
  color: #4B4B4B;
}
.tagsinput .tag a {
  width: 7px;
  height: 7px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  background: url("/app/img/icon/icon-cross-small.svg") center no-repeat;
  background-size: cover;
  text-indent: -9999px;
}
.tagsinput #bucket_people_addTag {
  float: left;
}
