<div class="popup popup_bucket_creation_people">

	<div class="popup--wrap">
		
		<div class="popup--header">
			<h2><%= name %></h2>
			<a href="" class="popup--btn-close">Fermer</a>
		</div>

		<div class="popup--container">
			<form action="">
				<div>
					<label for="bucket_people">Souhaitez-vous ajouter des participants au bucket ?</label>
					<input type="text" id="bucket_people" placeholder="Emails des participants" required>
				</div>
				<div>
					<button type="submit">Ajouter</button>
				</div>
			</form>
		</div>

	</div>
	
</div>