
<section class="page page_bucket">

	<header class="page_bucket--header">
		
		<div class="page_bucket--header--intro">
			<h1>Documents location NYC</h1>
			<p class="page_bucket--header--notification">
				<span class="board_number">50% complétés</span>
				<span class="people_number">3 personnes</span>
				<span class="review_number">15 fichiers à examiner</span>
			</p>
			<span>
		</div>

		<nav>
			<a href="" class="btn-download"><i></i>Télécharger</a>
			<a href="" class="btn-print"><i></i>Imprimer</a>
			<a href="" class="btn-add-people"><i></i>Inviter</a>
		</nav>

	</header>



	<!-- All people in the bucket documents -->
	<div class="page_bucket--main">

		<div class="page_bucket--peoples">
			<ul>
				
				<% _.each(peoples, function(people) { %>

					<li class="page_bucket--people">
						<div>
							<h4><%= people.name %></h4>
							<p><%= people.email %></p>
							<div class="page_bucket--people--option">
								<div>
									<i></i>
									<ul>
										<li><a href="" class="btn-download">Supprimer la personne</a></li>
										<li><a href="" class="btn-archive"><i></i>Envoyer un rappel</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>

				<% }); %>

			</ul>
		</div>


		<!-- View all documents -->
		<div class="page_bucket--docs">
			<ul>
				
			<% _.each(tasks, function(task) { %>

				<li class="page_bucket--doc">

					<div class="page_bucket--doc--title">
						<h3><%= task.name %></h3>
						<div class="page_bucket--doc--option">
							<div>
								<i></i>
								<ul>
									<li><a href="" class="btn-download">Supprimer cette demande</a></li>
									<li><a href="" class="btn-archive">Envoyer un rappel</a></li>
								</ul>
							</div>
						</div>
					</div>
						
					<ul class="page_bucket--doc--peoples">
					<% _.each(peoples, function(people) { %>

						<li class="page_bucket--doc--people">
							<div><input type="file"></div>
						</li>

					<% }); %>
					</ul>

				</li>

			<% }); %>
	
			</ul>
		</div>


		<!-- Add new documents -->
		<div class="page_bucket--docs_new">
			<form action="">
				<div>
					<label for="">
						<input type="text" id="new_doc" placeholder="Demander un document">
					</label>
				</div>
				<input type="submit">
			</form>
		</div>

	
	</div> 
	
</section>