
<section class="page page_bucket">

	<header class="page_bucket--header">
		
		<div class="page_bucket--header--intro">
			<h1><%= bucket.name %></h1>
			<p class="page_bucket--header--notification">
				<span class="board_number">50% complétés</span>
				<span class="people_number"><%= bucket.contributors.length + (bucket.contributors.length > 1 ? ' personnes' : ' personne') %></span>
				<span class="review_number">15 fichiers à examiner</span>
			</p>
			<span>
		</div>

		<nav>
			<a href="" class="btn-download"><i></i>Télécharger</a>
			<a href="" class="btn-print"><i></i>Imprimer</a>
			<a href="" class="btn-add-people"><i></i>Inviter</a>
		</nav>

	</header>



	<!-- All people in the bucket documents -->
	<div class="page_bucket--main">

		<div class="page_bucket--peoples">
			<ul>

				<li class="page_bucket--people">
					<div>
						<h4>Laure</h4>
						<p>laure@gmail.com</p>
						<div class="page_bucket--people--option">
							<i></i>
							<div>
								<ul>
									<li><a href="" class="btn-download"><i></i>Télécharger les documents</a></li>
									<li><a href="" class="btn-archive"><i></i>Archier le bucket</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>

				<li class="page_bucket--people">
					<div>
						<h4>Sam</h4>
						<p>sam@gmail.com</h4>
						<div class="page_bucket--people--option">
							<i></i>
							<div>
								<ul>
									<li><a href="" class="btn-download"><i></i>Télécharger les documents</a></li>
									<li><a href="" class="btn-archive"><i></i>Archier le bucket</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>

			</ul>
		</div>


		<!-- View all documents -->
		<div class="page_bucket--docs"></div>


		<!-- Add new documents -->
		<div class="page_bucket--docs_new">
			<form action="">
				<div>
					<label for="">
						<input type="text" id="new_docs" placeholder="Demander un document">
					</label>
				</div>
				<input type="submit">
			</form>
		</div>

	
	</div> 
	
</section>