
<section class="page page_bucket">

	<header class="page_bucket--header">
		
		<div class="page_bucket--header--intro">
			<h1><%= bucket.name %></h1>
			<p class="page_bucket--header--notification">
				<span class="board_number"><%= bucket.percent %>% complété</span>
				<span class="people_number"><%= bucket.contributors.length + (bucket.contributors.length > 1 ? ' personnes' : ' personne') %></span>
				<span class="review_number">15 fichiers à examiner</span>
			</p>
			<span>
		</div>

		<nav>
			<a href="" class="btn-download"><i></i>Télécharger</a>
			<a href="" class="btn-print"><i></i>Imprimer</a>
			<a href="" class="btn-add-people"><i></i>Inviter</a>
		</nav>

	</header>



	<!-- All people in the bucket documents -->
	<div class="page_bucket--main">

		<div class="page_bucket--peoples">
			<ul>

				<% if( bucket.contributors) { %>
				
					<% _.each(bucket.contributors, function(contributor) { %>

						<li class="page_bucket--people">
							<div>
								<h4><%= contributor.name %></h4>
								<p><%= contributor.email %></p>
								<div class="page_bucket--people--option">
									<div>
										<i></i>
										<ul>
											<li><a href="" class="btn-download">Supprimer la personne</a></li>
											<li><a href="" class="btn-archive"><i></i>Envoyer un rappel</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>

					<% }); %>

				<% } else { %>
					
					<li class="page_bucket--people">
						<div>
							<h4>Aucune personne attribuée au bucket</h4>
						</div>
					</li>

				<% } %>

			</ul>
		</div>


		<!-- View all documents -->
		<div class="page_bucket--docs">
			<ul>
				
			<% _.each(bucket.tasks, function(task) { %>

				<li class="page_bucket--doc">

					<div class="page_bucket--doc--title">
						<h3><%= task.name %></h3>
						<div class="page_bucket--doc--option">
							<div>
								<i></i>
								<ul>
									<li><a href="" class="btn-download">Supprimer cette demande</a></li>
									<li><a href="" class="btn-archive">Envoyer un rappel</a></li>
								</ul>
							</div>
						</div>
					</div>
						
					<ul class="page_bucket--doc--peoples">
					<% _.each(task.contributors, function(people) { %>

						<li class="page_bucket--doc--people">
							<div class="dropzone">
								<div>
									<i>
										<svg width="57" height="35" viewBox="0 0 57 35" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><path d="M43.372 16.214l-.288.117c.029-.419.056-.842.056-1.272 0-7.836-6.351-14.187-14.187-14.187-5.741 0-10.684 3.41-12.919 8.322-2.359-.483-4.861-.313-7.271.605-6.706 2.587-10.037 10.122-7.46 16.826 1.991 5.167 6.911 8.332 12.14 8.332l10.48.029v-7.818h-3.145c-1.165 0-1.621-.767-.995-1.7l7.954-12.841s.313-.457.767-.457.767.457.767.457l7.956 12.841c.607.936.156 1.7-1 1.7h-3.139v7.818h13.876c1.131-.011 2.28-.221 3.395-.654 4.997-1.927 7.48-7.546 5.561-12.553-1.924-5.003-7.542-7.495-12.548-5.565z" sketch:type="MSShapeGroup" fill="#767676"/></svg>
									</i>
									<p>
										<span>Glisser et déposer pour uploader,</span>
										ou <a href="">sélectionner des fichiers</a>
									</p>
								</div>
								<input type="file" accept="application/pdf" multiple/>
							</div>
						</li>

					<% }); %>
					</ul>

				</li>

			<% }); %>
	
			</ul>
		</div>


		<!-- Add new documents -->
		<div class="page_bucket--docs_new">
			<form action="">
				<div>
					<label for="">
						<input type="text" id="new_doc" placeholder="Demander un document">
					</label>
				</div>
				<input type="submit">
			</form>
		</div>

	
	</div> 
	
</section>