


/**
 *  board.scss
 *  @desc : All style about board
 *
 */


.page_board {
	
	background:#FDFDFD;
	min-height:calc(100vh - 80px - 50px);

	&--header {
		overflow: hidden;
  		width: 100%;
		height:80px;
		padding:0 100px;
		background:#fff;
		box-shadow: 0 3px 0 0 #F9F9F9;

		&--intro {
			float:left;
		}

		h1 {
			margin:17px 0 6px; 
			font-size:2.4rem; 
			font-weight:300; 
			color:$text-primary;
		}

		&--notification {
			color:$text-second;
			font-size:1.4rem;
			font-weight:500; 
			span {
				margin-right:26px;
			}
		}

		nav {
			float:right;
			a {
				margin-top:17px; 
				display:block; 
				font-size:1.4rem; 
				font-weight:500; 
				color:$text-primary;
				i {
					display:block;
					width:19px; height:19px; 
					margin:0 auto 5px; 
					background:url('/app/img/icon/icon-plus.svg') center no-repeat;
					background-size:cover;
				}
			}
		}
	}


	&--main {

		.no-result {
			position:absolute; 
			top:50%; left:50%;
			@include transform(translate(-50%, -50%));
			text-align:center; 

			p {
				font-size:3rem; 
				font-weight:300; 
				color:$text-second;
			}

			a {
				width:338px; height:50px;
				margin:37px auto 0; 
				line-height:50px; 
				box-shadow:0 1px 3px 0 rgba(0,0,0,.3);
				i {
					display:inline-block;
					width:13px; height:13px; 
					vertical-align:middle; 
					margin-right:10px; 
					background:url('/app/img/icon/icon-plus-white.svg') center no-repeat;
					background-size:cover;
				}
			}

		}

	}

	&--list {
		margin:0 auto;
		width:1240px;
		padding-top:40px;
	}	

}





.card_bucket {
	position:relative;
	z-index:1; 
	width:388px; height:248px; 
	float:left; 
	margin-right:38px; 
	& > div {
		position:relative;
		z-index:1; 
		width:100%; height:100%; 
		border-radius: 4px;
		border-bottom:1px solid #EEE; 
		box-shadow:0 2px 4px 0 rgba(0,0,0,.02);
		background:#fff;
	}

	&:nth-child(3n) {
		margin-right:0;
	}



	&--notification {
		height:40px; 
		width:100%; 
		padding-left:20px;
		line-height:40px; 
		color:#fff;
		font-weight:500; 
		font-size:1.4rem; 
		border-radius:4px 4px 0 0; 
	}
	


	&--option {
		position:absolute; 
		right:17px;top:12px;
		cursor: pointer;
		&>div {

			position:relative; 
			&>i {
				display:block;
				width:13px; height:17px; 
				background:url('/app/img/icon/icon-arrow-bottom.svg') center no-repeat;
				background-size:100% auto;
			}

			&:hover ul {
				display:block; 
			}
		}
		
		ul {
			display:none; 
			position:absolute; 
			width: 235px;
			top: 16px; right: -26px;
			border-radius:4px;
			overflow:hidden; 
			background:	#fff;
			border:1px solid #DADADA;
			box-shadow:0 2px 4px 0 rgba(0,0,0,.02);
			li {
				height:45px;
				line-height:45px; 
				border-bottom:1px solid #DADADA;
				font-size:1.4rem; 
				a {
					color:$text-fouth;
					padding:0 15px;
					&.btn-download i {
						display:inline-block; 
						vertical-align:middle; 
						width:16px; height:16px;
						margin-right:13px;  
						background:url('/app/img/icon/icon-download.svg') center no-repeat;
						background-size:cover;
					}
					&.btn-archive i {
						display:inline-block; 
						vertical-align:middle; 
						width:20px; height:15px; 
						margin-right:13px;  
						background:url('/app/img/icon/icon-archive.svg') center no-repeat;
						background-size:cover;
					}
				}
			}
		}
	}



	&--title {
		padding:17px 20px 0;
		font-size:2.4rem; 
		font-weight:700; 
		line-height:1.24;
		a {
			color:$text-primary;
		} 
	}



	&--info {
		width:100%; 
		height:auto; 
		position:absolute; 
		left:0; bottom:0;
		padding:20px;
		span {
			display:block;
			margin-bottom:6px; 
			color:$text-second;
			font-size:1.2rem;
			font-weight:500; 

			&.bucket_completion i {
				display:inline-block; 
				width:15px; height:15px;
				vertical-align:middle; 
				margin-right:5px; 
				background:url('/app/img/icon/icon-card-completion.svg') center no-repeat;
				background-size:cover;
			}

			&.bucket_user i {
				display:inline-block; 
				width:15px; height:15px;
				vertical-align:middle; 
				margin-right:5px;  
				background:url('/app/img/icon/icon-card-people.svg') center no-repeat;
				background-size:cover;
			}
		}
	}
	

	/* STATES */
	&.is-complete {
		.card_bucket--option > div > i {
			background:url('/app/img/icon/icon-arrow-bottom-white.svg') center no-repeat;
			background-size:100% auto;
		}
		.card_bucket--notification {
			background:$blue-primary;	
		}
	}

	&.is-update {
		.card_bucket--option > div > i {
			background:url('/app/img/icon/icon-arrow-bottom-white.svg') center no-repeat;
			background-size:100% auto;
		}
		.card_bucket--notification {
			background:#FF6C55;	
		}
	}

	&.is-contains {

		&::before, &::after {
			content:'';
			width:380px; height:100%; 
			z-index:-1;
			position:absolute; 
			bottom:-4px; left:4px;
			border-radius: 4px;
			border-bottom:1px solid #EEE; 
			box-shadow:0 2px 4px 0 rgba(0,0,0,.02);
			background:#fff;
		}

		&::after {
			content:'';
			width:372px; 
			z-index:-2;
			bottom:-8px; left:8px;
		}

	}


}




/**
 *	Popup creation
 */


.popup_bucket_creation, .popup_bucket_creation_people {

	.popup--wrap {
		width:510px; 
		margin-left:-255px;
		button {
			float:right; 
			width:auto;
		}	
		.btn-simple {
			margin-top:20px; 
		}
	}
}





/**
 *	TAG
 */


.tagsinput {
	display:block; 
	width:100%; height:40px;
	padding:0 12px;
	margin-bottom:15px; 
	font-size:1.6rem; 
	border-radius:4px;
	border:1px solid #DADADA;
	outline:none;
	background:#fff;
	input {
		height:38px;
		line-height:38px; 
		padding:0; 
		font-size:1.6rem; 
		border:none;
		outline:none;
		background:none;
	}
} 
