
<section class="page page_home">

	<div class="page_home--illu"></div>
	
	<div class="page_home--intro">
		<h1>Réunissez et stockez des documents pour vos démarches administratives</h1>
		<p>Bucket vous permet de créer un espace collaboratif sécurisé de réunion de documents pour vos démarches administratives. Ajoutez vos amis à un bucket, demandez des documents, et ils pourront facilement contribuer.</p>
	</div>

	<form class="page_home--from">

		<div><input type="text" name="name" placeholder="Nom et prénom" required></div>
		<div><input type="email" name="email" placeholder="Email" required></div>
		<div><input type="password" name="password" placeholder="Mot de passe" required></div>
		<div>
			<input type="checkbox" name="condition" required>
			<p>J’accepte les <a href="">Conditions d’utilisation de Bucket</a></p>
		</div>
		<button type="submit">Créer mon premier bucket</button>

	</form>

</section>