<div class="popup popup_bucket_creation">

	<div class="popup--wrap">
		
		<div class="popup--header">
			<h2>Nouveau bucket</h2>
			<a href="" class="popup--btn-close">Fermer</a>
		</div>

		<div class="popup--container">
			<form action="">
				<div>
					<label for="bucket_name">Quel nom souhaitez-vous donner à votre bucket ?</label>
					<input type="text" id="bucket_name" placeholder="Entrer le nom du bucket" value="<%= name %>"required>
				</div>
				<div><button type="submit">Suivant</button></div>
			</form>
		</div>

	</div>
	
</div>