
<section class="page page_board">
	
	<header class="page_board--header">
		
		<div class="page_board--header--intro">
			<h1>Mes buckets</h1>
			<p class="page_board--header--notification">
				<span class="board_number"><%= _.size(buckets) > 1 ? _.size(buckets) + ' buckets' : _.size(buckets) === 1 ? _.size(buckets) + ' bucket' : 'Aucun bucket' %></span>
				<span class="review_number"><%= files > 1 ? files + ' fichiers' : files === 1 ? files + ' fichier' : 'Aucun fichier' %> à examiner</span>
			</p>
			<span>
		</div>
 
		<nav>
			<a href="" class="btn-new-bucket"><i></i>Nouveau bucket</a>
		</nav>

	</header>
	

	<div class="page_board--main">

	<% if (_.size(buckets) > 0) { %>

		<div class="page_board--list">
			
			<ul>

			<% _.each(buckets, function(bucket) { %>

				<li class="card_bucket <%= bucket.percent === 100 ? 'is-complete' : '' %> <%= bucket.filesToReview > 0 ? 'is-update' : '' %> <%= bucket.files > 0 ? 'is-contains' : '' %> ">
					<div>
					<% if (bucket.percent === 100 || bucket.files > 0) { %>
						<div class="card_bucket--notification">
						<% if (bucket.percent === 100) { %>
							<span>Bucket complet !</span>
						<% } else if (bucket.filesToReview > 0) { %>
							<span><%= bucket.filesToReview %> fichier<% if (bucket.filesToReview > 1) { %>s<% } %> à examiner</span>
						<% } %>
						</div>
					<% } %>
						<div class="card_bucket--option">
							<div>
								<i></i>
								<ul>
									<li><a href="" class="btn-download"><i></i>Télécharger les documents</a></li>
									<li><a href="" class="btn-archive" data-id="<%= bucket.id %>"><i></i>Archiver le bucket</a></li>
									<li><a href="" class="btn-delete" data-id="<%= bucket.id %>"><i></i>Supprimer le bucket</a></li>
								</ul>
							</div>
						</div>
						<h2 class="card_bucket--title"><a href="/bucket/<%= bucket.id %>"><%= bucket.name %></a></h2>
						<div class="card_bucket--info">
							<span class="bucket_completion"><i></i><%= bucket.percent %>% complété</span>
							<span class="bucket_user"><i></i><% 
							if (typeof bucket.contributors !== 'undefined' && bucket.contributors.length > 0) { 
								_.forEach(bucket.contributors, function(contributor, index) { %>
									<%= contributor.name + (index < bucket.contributors.length - 1 ? ',' : '') %>
								<% })
							} else { %>Aucune personne
							<% } %>
							</span>
						</div>

					</div>
				</li>

			<% }); %>

			</ul>

		</div>

	<% } else { %> 
		
		<div class="no-result">
			<p>Vous n’avez aucun bucket pour le moment.</p>
			<a href="" class="btn-cta btn-new-bucket"><i></i>Créer un bucket</a>
		</div>

	<% } %>

	</div>
	
</section>