

/**
 *  _layout.scss
 *  @desc : Layout of recurrent element of the page. No style theme here
 *
 */



 
 
/**
 *	Header
 */

.header {
	padding:0 100px;
	height:80px;

	&--logo {
		display:inline-block; 
		vertical-align:middle; 
		height:79px;
		line-height:80px; 
	}

	&--nav {
		float:right; 
		height:79px;
		line-height:80px; 
		&--my_account {
			position:relative; 

			& > i {
				display:inline-block; 
				width:20px; height:22px; 
				vertical-align:middle; 
				margin-right:10px;
				background:url('/app/img/icon/icon-ring.svg') center no-repeat;
				background-size:cover;
			}

			h3 {  
				display: inline-block;
				margin-right: 25px;
				font-size:1.6rem; 
				color:$text-third;
				font-weight:500; 
			}

			&--option {
				position:absolute;   
				right: 0; top: 34px;
				cursor: pointer;
				z-index:100;
				&>div {

					position:relative; 
					&>i {
						display:block;
						width:13px; height:17px; 
						background:url('/app/img/icon/icon-arrow-bottom.svg') center no-repeat;
						background-size:100% auto;
					}

					&:hover ul {
						display:block; 
					}
				}
				
				ul {
					display:none; 
					position:absolute; 
					width: 235px;
					top: 16px; right: -26px;
					border-radius:4px;
					overflow:hidden; 
					background:	#fff;
					border:1px solid #DADADA;
					box-shadow:0 2px 4px 0 rgba(0,0,0,.02);
					li {
						height:45px;
						line-height:45px; 
						border-bottom:1px solid #DADADA;
						font-size:1.4rem; 
						a {
							color:$text-fouth;
							padding:0 15px;
							&.btn-download i {
								display:inline-block; 
								vertical-align:middle; 
								width:16px; height:16px;
								margin-right:13px;  
								background:url('/app/img/icon/icon-download.svg') center no-repeat;
								background-size:cover;
							}
							&.btn-archive i {
								display:inline-block; 
								vertical-align:middle; 
								width:20px; height:15px; 
								margin-right:13px;  
								background:url('/app/img/icon/icon-archive.svg') center no-repeat;
								background-size:cover;
							}
						}
						&:hover {
							background:#F3F3F3;
						}
					}
				}
			}
		}

	}

}



/**
 *	Footer
 */

.footer {
	height:50px;
	padding:0 100px;
	nav {
		li {
			float:left;
			margin-right:30px;
		}
	}
}





/**
 *	Main content
 */



#main {
	min-height:calc(100vh - 50px);
}


.page {


}






/**
 *	Home
 */


.page_home {
	width:1042px; 
	position:absolute;
	left:50%; top:50%; 
	@include transform(translate(-50%, -50%));

	&--intro {
		width:560px;
		margin-right:182px;
		float:left; 
		h1 {
			margin-bottom:38px; 
		}
	}
	&--from {
		div {
			overflow:hidden; 
		}
		float:left;
		width:300px;
		input[type="checkbox"] {
			float:left;
			margin-top:2px; 
			margin-right:10px; 
		} 
		p  {
			width:276px; 
			float:right;
		}
		button {
			margin-top:18px; 
		}
	}
}







/**
 *	Popup
 */


.popup {
	position:fixed; 
	width:100%; height:100%; 
	top:0; left:0;
	z-index:1000;

	&--wrap {
		width:360px; height:auto;
		position:absolute; 
		top:50%; left:50%;
		margin:0 0 0 -135px;
		overflow:hidden; 
		@include transform(translateY(-50%));
	}

	&--header {
		height:60px; 
		padding:0 30px;
		h2 {
			float:left; 
		}
		a {
			float:right; 
			display:block; 
			width:15px; height:15px; 
			margin-top: 22px;
		}
	}

	&--container {
		padding: 20px 30px 25px;
		overflow:hidden; 
	}

}







