

/**
 *  _variables.scss
 *  @desc : All variable of the application;
 *
 */


 

/** COLOR **/

$bg-color : #fff;
$blue-primary : #3C80F4;

$text-primary : #363636;
$text-second : #BBBBBB;
$text-third : #767676;
$text-fouth : #4B4B4B;

/** FONT **/

$font-general : 'HelveticaNeue', 'Arial', 'sans-serif';
